{% extends "base.html" %}



{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-3">
        <div class="card text-center">
          <div class="card-header">

            
            <div class="row">
              <div class="col-sm-4 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Celkem evidencí:</h5>
                    <p class="card-text">666</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>


              <div class="col-sm-4 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Poslední přidané pojištění</h5>
                    <p class="card-text">Podívejte se na své vytvořené evidence</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>


              <div class="col-sm-4 mt-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Poslední přidaný klient</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
{% endblock %}

{% block inside_content %}
{% endblock %}