{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-5">
      <div class="text-center">
        <img class="mb-4" src="../../static/img/add.svg" alt="" width="150" height="150">
        <h2>Jednoduchá registrace</h2>
        <p class="lead">Pro přihlášení do systému se zaregistruj..</p>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>{{ message }}</strong>
            </div>
          {% elif category == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>{{ message }}</strong>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
      


    
      
      
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form mt-2">
          {{ form.username(class="form-control") }}
        </div>
        <div class="form mt-2">
          {{ form.password(class="form-control") }}
        </div>
        <div class="d-grid mt-5">
          {{ form.submit }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}

  