<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles.css') }}">
    <title>Domů</title>
    {% endblock %}
</head>
  <body>
    <!-------------VEREJNA CAST WEBU PRO NEREGISTROVANE-------------------->
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-xl">
        <a class="navbar-brand" href="{{ url_for('main.homepage')}}">Evidence pojištění</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"id="navbarsExample07XL">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!------------------------RUBRIKY------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('main.homepage')}}">Domů</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('main.pojisteni') }}" data-bs-toggle="dropdown" aria-expanded="false">Pojisteni</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('main.zivota') }}">Života</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.majetku') }}">Majetku</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.vozidla') }}">Vozidla</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.odpovednosti') }}">Odpovednosti</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}">O projetku</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.contact') }}">Kontakt</a>
              </li>
            </ul>
              <ul class="navbar-nav ms-auto" >

                <li class="nav-item">
                {% if current_user.is_authenticated %}
                  <button type="button" class="btn btn-primary btn-sm mx-1 active" disabled>Přihlásit</button>
                  <a href="{{ url_for('auth.odhlasit') }}" class="btn btn-secondary btn-sm mx-1 active" role="button" aria-pressed="true">Odhlásit</a>
                  <span class="badge badge-pill badge-light">Jste přihlášen/á</span>
                {% else %}
                  <a href="{{url_for('auth.registrace')}}" class="btn btn-secondary btn-sm mx-1 active" role="button" aria-pressed="true">Registrovat</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('auth.login')}}" class="btn btn-primary btn-sm mx-1 active" role="button" aria-pressed="true">Přihlásit</a>
                  <span class="badge badge-pill badge-light">Nejsi přihlášen</span>
                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock %}
  <!------------VNITRNI CAST PRO REGISROVANE-------------->
  {% if current_user.is_authenticated %}
    {% block prihlasene %}
    <div class="container">            
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-brand">Vnitřní sekce</a>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!---------------------RUBRIKY-------------------------------->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('inside_bp.plocha') }}">Plocha</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('main.pojisteni') }}" data-bs-toggle="dropdown" aria-expanded="false">Vlozit</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('inside_bp.vlozit_pojisteni') }}">Nové pojištění</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('inside_bp.vlozit_klienta') }}">Nový klient</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('inside_bp.zobrazit') }}">Zobrazit</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('main.pojisteni') }}" data-bs-toggle="dropdown" aria-expanded="false">Seznam</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('inside_bp.seznam_klientu') }}">Klientů</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('inside_bp.seznam_pojisteni') }}">Pojištění</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('main.pojisteni') }}" data-bs-toggle="dropdown" aria-expanded="false">Upravit</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('main.zivota') }}">Stávající pojištění</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.majetku') }}">Pojištění klienta</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.majetku') }}">Údaje o klientovi</a></li>
                </ul>
              </li>
            </ul>
            <!-----------------------flash zpravy zobrazovat v navbar v pravo--------------------->
            <span class="navbar-text">
              <div class="flash-message-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      {% if category == 'danger' %}
                        <div class="alert alert-danger" role="alert">
                          <strong>{{ message }}</strong>
                        </div>
                      {% elif category == 'success' %}
                        <div class="alert alert-success" role="alert">
                          <strong>{{ message }}</strong>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}  
              </div>
            </span>
          </div>
        </div>
      </div>
    {% endblock %}
  {% endif %}
  
  {% block content %}
  





  {% endblock %}  

    {% block footer %}
    <div class="b-example-divider"></div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"></a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Daniel Matyuš</span>
        </div>
      </footer>
    </div>
    {% endblock %}


  <!-- Potřebné pro modální okna, tooltipy, popover -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Potřebné pro karusely - pro nepotrebnost odstranit na konci projektu -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>